<!doctype html>

<html>
<head>
	<title>Confirm</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">     
</head>

<body>
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<!-- <div class="table">
		    <div class="tr">
		        <div class="d1">
		        	<span class="btn-group">
		        		{{#if isOrganizer}}
							<a href="/" class="btn">
								<pre>Home</pre>
							</a>
						{{else}}
							<a href="/view" class="btn">
								<pre>&lt; </pre>
							</a>
						{{/if}}
					</span>
		        </div>
		        <div class="d2"> -->	
					<!-- <span class="header">
						<span class="btn-group">YOUR EVENTS</span>
					</span> -->
		        <!-- </div> -->
		        <!-- <div class="d3"></div> -->
		    <!-- </div>
		</div> -->

	<div class="container">
		{{#if isScheduled}}
			<div id="modal-dialog" class="modal show">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			            <!-- <a href="confirm/{{id}}" data-dismiss="modal" aria-hidden="true" class="close">×</a> -->
			             <h3>Event Scheduled</h3>
			        </div>
			        <div class="modal-body">
			             <p>You have scheduled your event! The time you selected will be added to yours and all participants' Google calendars.</p>
			        </div>
			        <div class="modal-footer">
			          <a href="/view"  id="btnConfirm" class="btn confirm">OK</a> 
			          <!-- <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a> -->
			        </div>
			      </div>
			    </div>
			</div>
		{{else}}
			<div id="modal-dialog" class="modal show">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			            <!-- <a href="confirm/{{id}}" data-dismiss="modal" aria-hidden="true" class="close">×</a> -->
			            {{#if isEdit}}
			        		<h3>Event Modified</h3>
			        	{{else}}
			            	<h3>Event Created</h3>
		             	{{/if}}
			        </div>
			        <div class="modal-body">
			        	{{#if isEdit}}
			        		<p>You have sucessfully edited your event. The other attendees have been asked to reconfirm the changes before you may select a time.</p>
			        	{{else}}
				            <p>You have successfully created your event. The other attendees have been sent an invitation to confirm the event before you may select a time.</p>
			            {{/if}}
			        </div>
			        <div class="modal-footer">
			          <a href="/view"  id="btnConfirm" class="btn confirm">OK</a> 
			          <!-- <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a> -->
			        </div>
			      </div>
			    </div>
			</div>
		{{/if}}
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- // <script src="/js/introHCI.js"></script> -->
</body>
</html>
