<!doctype html>

<html>
<head>
	<title>ScheduleUs - Edit Event</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
		<div class="table">
		    <div class="tr">
		        <div class="d1">
		        	<span class="btn-group">
						<a href="/view">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-left"></span>
							</button>
						</a>
					</span>
		        </div>
		        <div class="d2">	
					<span class="header">
						<span class="btn-group">Edit Event</span>
					</span>
		        </div>
		        <div class="d3"></div>
		    </div>
		</div>


	<div class="container">
		<form id="createEventForm" role="form" method="get" action="/save/{{id}}" onsubmit="return validateForm()">
			<div class="form-group">
				<label>Event name:</label>
				<input type="text" class="form-control" class="top-buffer" value="{{eventName}}" name="name"><div>
			</div>
			<div class="form-group">
				<label>Emails of all guests:</label>
				<input type="text" class="form-control" class="top-buffer" name="attendees" value="{{guests}}" autocapitalize="off"><div>
			</div>
			<div class="form-group">
				<label>Location:</label>
				<input type="text" class="form-control" class="top-buffer" value="{{eventLocation}}" name="location"><div>
			</div>
			<div class="form-group">
				<label>Duration of event:</label>
				<!-- <input type="number" class="form-control" class = "top-buffer" placeholder="Duration in hours" name="duration"><div> -->
				<div class="table">
				    <div class="tr">
				        <div class="d6">
				        	<span>
								<select class="form-control top-buffer" id="{{eventHrs}}hrs" name="hrs">
								</select>
							</span>
				        </div>
				        <div class="d7">	
							<select class="form-control top-buffer" id="mins" name="mins">
								<option value="0" {{#if first}}selected="selected"{{/if}}>0 minutes</option>
								<option value="15" {{#if second}}selected="selected"{{/if}}>15 minutes</option>
								<option value="30" {{#if third}}selected="selected"{{/if}}>30 minutes</option>
								<option value="45" {{#if fourth}}selected="selected"{{/if}}>45 minutes</option>
							</select>
				        </div>
				        <!-- <div class="d3"></div> -->
				    </div>
				</div>
			</div>

			<div class="center-block">
				<strong>Times event can occur:</strong>
			</div>
			<div class="center-block">
	    		<label class="radio-inline">
	    			{{#if morning}}
			     			<input type="checkbox" name="morning" checked>Morning
	     			{{else}}
			     			<input type="checkbox" name="morning">Morning
	     			{{/if}}
	     		</label>
	    		<label class="radio-inline">
	    			{{#if afternoon}}
		    			<input type="checkbox" name="afternoon" checked>Afternoon
	    			{{else}}
		     			<input type="checkbox" name="afternoon">Afternoon
	     			{{/if}}
	     		</label>
	    		<label class="radio-inline">
	    			{{#if evening}}
		    			<input type="checkbox" name="evening" checked>Evening
	    			{{else}}
		     			<input type="checkbox" name="evening">Evening
	     			{{/if}}
	    		</label>
	    	</div>
	    	<div class="center-block">
		   		<input type="submit" id="submitBtn" class="btn btn-primary" value="Save"></input>
	   		</div>
	   	</form>

	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/editEvent.js"></script>
</body>
</html>
