<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
  <div class="container">
    <div class="table">
        <div class="tr">
            <div class="d1">
	            <span class="btn-group">
	            <a href="/readyToSchedule" class="btn">
	            <pre>&lt; </pre>
	            </a>
	          	</span>
            </div>
            <div class="d2">  
          		<span class="header">
            	<span class="btn-group">Schedule!</span>
          		</span>
            </div>
            <div class="d3"></div>
        </div>
    </div>



  	<div class="container">
    	<div id="content">
      		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          		<li class="active"><a href="#schedule" data-toggle="tab">schedule</a></li>
          		<li><a href="#tentative" data-toggle="tab">tentative</a></li>
          		<li><a href="#history" data-toggle="tab">history</a></li>
      		</ul>
      		<br>
      		<div id="my-tab-content" class="tab-content">
          		<div class="tab-pane active" id="schedule">
					<div class="table">
						{{#each toSchedule}}
						    <div class="tr">
						        <div class="d12">	
									<span class="list">
										<span class="btn-group">Your event {{eventName}} at {{eventLocation}} is ready to schedule!</span>
									</span>
						        </div>
						        <div class="d3">
						        	<a href="schedule/{{id}}">
							        	<button id="{{id}}" class="btn btn-primary">Schedule!</button>
							        </a>
						        </div>
						    </div>
						    <hr>
						{{/each}}
					</div>
          		</div>
          		<div class="tab-pane" id="tentative">
	          		<div class="table">
	            		{{#each invites}}
	                		<div class="tr">
	                    		<div class="d12"> 
	                  				<span class="list">
	                    			<span class="btn-group">{{organizer}} invited you to {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
	                  				</span>
	                    		</div>
	                        	<div class="d3">
	                          		<a href="confirm/{{id}}">
	                            		<button id="{{id}}" class="btn btn-primary">✓</button>
	                          		</a>
	                       		</div>
	                		</div>
	                		<hr>
	            		{{/each}}
	          		</div>

	          		<div class="table">
	            		{{#each pending}}
	                		<div class="tr">
	                    		<div class="d12"> 
	                  				<span class="list">
	                    			<span class="btn-group">{{organizer}} invited you to {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
	                  				</span>
	                    		</div>
	                        	<div class="d3 disabled-button">
	                            		✓
	                       		</div>
	                		</div>
	                		<hr>
	            		{{/each}}
	          		</div>
          		</div>

	          	<div class="tab-pane" id="history">
	              	<div class="table">
	            		{{#each history}}
	                		<div class="tr">
	                    		<div class="d12"> 
	                  				<span class="list">
	                    			<span class="btn-group">Reschedule {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
	                  				</span>
	                    		</div>
	                        	<div class="d3">
	                          		<a href="confirm/{{id}}">
	                            		<button id="{{id}}" class="btn btn-primary"> Reuse!</button>
	                          		</a>
	                       		</div>
	                		</div>
	                		<hr>
	            		{{/each}}
	          		</div>
	          	</div>
      		</div>
  		</div>

		<script type="text/javascript">
    		jQuery(document).ready(function ($) {
        		$('#tabs').tab();
    		});
		</script>

  	</div>
  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script src="/js/introHCI.js"></script>
</body>
</html>
