<!doctype html>

<html>
<head>
	<title>ScheduleUs - View Events</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">     
</head>

<body>
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="table">
		    <div class="tr">
		        <div class="d1">
		        	<span class="btn-group">
						<a href="/">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-left"></span>
							</button>
						</a>
					</span>
		        </div>
		        <div class="d2">	
					<span class="header">
						<span class="btn-group">Events</span>
					</span>
		        </div>
		        <div class="d3">
		        	<a href="/view">
		        		<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</a>
				</div>
		    </div>
		</div>

		<!-- <a href="/edit">
		    <button id="edit" class="btn btn-primary btn-lg">Edit Event</button>
	    </a> -->

	    <!-- <div class="buttons">
			<a href="/readyToSchedule">
		    	<button id="create" class="btn btn-primary btn-lg">Confirmed Events</button>
		    </a>
			<a href="/invitations">
		    	<button id="view" class="btn btn-primary btn-lg">My Invites</button>
		    </a>
		</div> -->

	<div class="container">
		<div id="content">
      		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          		<li class="active"><a href="#schedule" data-toggle="tab">my events</a></li>
          		<li><a href="#tentative" data-toggle="tab">tentative</a></li>
          		<li><a href="#history" data-toggle="tab">history</a></li>
      		</ul>
      		<br>
      		<div id="my-tab-content" class="tab-content">
          		<div class="tab-pane active" id="schedule">
					<div class="table">
						{{#each toSchedule}}
							<!-- <a href="/"> -->
							<!-- <input href="/" data-toggle="modal" type="hidden"> -->
						    <div class="tr">
						        <div class="d12 clickable" id="host{{id}}">	
									<span class="list">
										<span class="btn-group">Your event {{eventName}} at {{eventLocation}} is ready to schedule! <span class="glyphicon glyphicon-pencil"></span></span>
									</span>
						        </div>
						        <div class="d14">
						        	<a href="/schedule/{{id}}">
							        	<button id="{{id}}" class="btn btn-primary">Schedule!</button>
							        </a>
						        </div>
						    </div>
						   	<!-- </a> -->
						   	<!-- </input> -->
						    <hr>

						    <div id="modal-dialog{{id}}" class="modal">
							    <div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							            <!-- <a href="confirm/{{id}}" data-dismiss="modal" aria-hidden="true" class="close">×</a> -->
							             <h3>Event Details</h3>
							        </div>
							        <div class="modal-body">
							             <p>{{eventName}} at {{eventLocation}} for {{eventDuration}} hours.</p>
							        </div>
							        <div class="modal-footer">
							          <a href="/edit/{{id}}">
									    	<button class="btn btn-primary">Edit</button>
									    </a>
									    <a href="/delete/{{id}}">
									    	<button class="btn btn-primary">Delete</button>
									    </a>
							        </div>
							      </div>
							    </div>
							</div>
						{{/each}}
						{{#each awaitingConfirmation}}
							<!-- <a href="/"> -->
						    <div class="tr clickable" id="host{{id}}">
						        <div class="d12">	
									<span class="list">
										<span class="btn-group">Your event {{eventName}} at {{eventLocation}} is awaiting confirmation from all guests. <span class="glyphicon glyphicon-pencil"></span></span>
									</span>
						        </div>
						        <div class="d3">
						        	<button type="button" class="btn btn-primary" disabled>Schedule!</button>
						        </div>
						    </div>
						    <!-- </a> -->
						    <hr>

						    <div id="modal-dialog{{id}}" class="modal">
							    <div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							            <!-- <a href="confirm/{{id}}" data-dismiss="modal" aria-hidden="true" class="close">×</a> -->
							             <h3>Event Details</h3>
							        </div>
							        <div class="modal-body">
							             <p>{{eventName}} at {{eventLocation}} for {{eventDuration}} hours.</p>
							        </div>
							        <div class="modal-footer">
							          <!-- <a href="/confirm/{{id}}"  id="btnConfirm" class="btn confirm">OK</a> 
							          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a> -->
							        	<a href="/edit/{{id}}">
									    	<button class="btn btn-primary">Edit</button>
									    </a>
									    <a href="/delete/{{id}}">
									    	<button class="btn btn-primary">Delete</button>
									    </a>
							          	<!-- <input href="/edit/{{id}}" type="button" class="btn btn-primary" value="Edit"> -->
                          				<!-- <input href="/delete/{{id}}" type="button" class="btn btn-primary" value="Delete"> -->
							        </div>
							      </div>
							    </div>
							</div>
						{{/each}}
					</div>
          		</div>
          		<div class="tab-pane" id="tentative">
	          		<div class="table">
	            		{{#each invites}}
	                		<div class="tr">
	                    		<div class="d12"> 
	                  				<span class="list">
	                    			<span class="btn-group">{{organizer}} invited you to {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
	                  				</span>
	                    		</div>
	                        	<div class="d14">
	                          		<!-- <a href="confirm/{{id}}" > -->
	                          			<input href="#modal-dialog1{{id}}" data-toggle="modal" type="button" class="btn btn-success btn-mini" value="✓">
	                          			<input href="#modal-dialog2{{id}}" data-toggle="modal" type="button" class="btn btn-danger btn-mini" value="✗">
	                            		<!-- <button id="{{id}}" class="btn btn-primary">✓</button> -->
	                          		<!-- </a> -->
	                       		</div>
	                		</div>
	                		<hr>


	                		<div id="modal-dialog1{{id}}" class="modal">
							    <div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							            <!-- <a href="confirm/{{id}}" data-dismiss="modal" aria-hidden="true" class="close">×</a> -->
							             <h3>Confirm Event?</h3>
							        </div>
							        <div class="modal-body">
							             <p>You are about to confirm this event. This means that once all of the invites have been accepted, the organizer will be able to see the availabilities in everyone's calendars and select a time that works for everyone.</p>
							        </div>
							        <div class="modal-footer">
							          <a href="/confirm/{{id}}"  id="btnConfirm" class="btn confirm">OK</a> 
							          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a>
							        </div>
							      </div>
							    </div>
							</div>

							<div id="modal-dialog2{{id}}" class="modal">
							    <div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							            <!-- <a href="confirm/{{id}}" data-dismiss="modal" aria-hidden="true" class="close">×</a> -->
							             <h3>Reject Event?</h3>
							        </div>
							        <div class="modal-body">
							             <p>Are you sure you would like to reject the invitation to this event?</p>
							        </div>
							        <div class="modal-footer">
							          <a href="/reject/{{id}}"  id="btnConfirm" class="btn confirm">Yes</a> 
							          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a>
							        </div>
							      </div>
							    </div>
							</div>
	            		{{/each}}
	            		{{#each pending}}
	                		<div class="tr">
	                    		<div class="d12"> 
	                  				<span class="list">
	                    				<span class="btn-group">{{organizer}} invited you to {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
	                  				</span>
	                    		</div>
	                        	<div class="d14">
	                            	<button type="button" class="btn btn-success" disabled>✓</button>
	                       		</div>
	                		</div>
	                		<hr>
	            		{{/each}}
	          		</div>
          		</div>

	          	<div class="tab-pane" id="history">
	              	<div class="table">
	            		{{#each history}}
	                		<div class="tr" style="text-align: center">
	                    		<!-- <div class="d12">  -->
	                  				<span class="list">
	                    				<span class="btn-group">{{eventName}} at {{eventLocation}} for {{eventDuration}} hours.</span>
	                  				</span>
	                    		<!-- </div>
	                        	<div class="d3">
	                          		<a href="confirm/{{id}}">
	                            		<button id="{{id}}" class="btn btn-primary"> Reuse!</button>
	                          		</a>
	                       		</div>
 -->	                	</div>
	                		<hr>
	            		{{/each}}
	          		</div>
	          	</div>
      		</div>
  		</div>

		<script type="text/javascript">
    		// jQuery(document).ready(function ($) {
      //   		$('#tabs').tab();
    		// });
		</script>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/viewEvents.js"></script>
	<!-- // <script src="/js/introHCI.js"></script> -->
</body>
</html>