<!doctype html>

<html>
<head>
	<title>ScheduleUs</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<!-- <link rel="apple-touch-startup-image" href="/apple-touch-startup-image.png">  -->
	<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body style="padding-top: 55px; padding-bottom: 70px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="table">
			<div class="navbar-brand">Events</div>
		    <div class="tr">
		        <div class="d1">
		        	<span class="btn-group">
						<a href="/settings">
							<button class="btn btn-default">
								<span class="glyphicon glyphicon-cog"></span>
							</button>
						</a>
					</span>
		        </div>
		        <div class="d3">
		        	<span class="btn-group">
			        	<a href="/view">
			        		<button class="btn btn-default">
								<span class="glyphicon glyphicon-repeat"></span>
							</button>
						</a>
					</span>
				</div>
		    </div>
		</div>
	</nav>

	<div class="container">
  		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		    	<a data-toggle="collapse" href="#collapseOne">
			      <h4 class="panel-title">
			          Events I'm Hosting <span class="alert">{{#if toSchedule.length}}({{toSchedule.length}}){{/if}} </span>
			      </h4>
		      	</a>
		    </div>
		    {{#if scheduled}}
		    <div id="collapseOne" class="panel-collapse collapse">
		    {{else}}
		    <div id="collapseOne" class="panel-collapse collapse in">
		    {{/if}}
		      <div class="panel-body">
		        <div class="table">
						{{#each toSchedule}}
						    <div class="tr">
						        <div class="d12 clickable" id="host{{id}}">	
									<span class="list">
										<span class="btn-group">Your event {{eventName}} at {{eventLocation}} is ready to schedule! <span class="glyphicon glyphicon-pencil"></span></span>
									</span>
						        </div>
						        <div class="d13">
						        	<a href="/schedule/{{id}}">
							        	<button data-prevtime="{{../prevTime}}" data-recentprevtime="{{../recentPrevTime}}" id="{{id}}" class="btn btn-primary schedule" style="width: 87px;">Schedule!</button>
							        </a>
						        </div>
						    </div>
						    {{#unless @last}}<hr>{{/unless}}
						    <div id="modal-dialog{{id}}" class="modal">
							    <div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							        	<a href="/view" data-dismiss="modal" aria-hidden="true" class="close">×</a>
							             <h3>Event Details</h3>
							        </div>
							        <div class="modal-body">
							            <p style="font-size:120%;">{{eventName}} at {{eventLocation}} for {{eventDuration}} hours.</p>
							            <p>
							             	{{#each guests}}
								             	{{#unless @first}}
									             	{{#if this.[1]}}<span style="color: green">✓ </span>{{else}}<span style="color: red">... </span>{{/if}}{{this.[0]}}
									             	{{#unless @last}}<br>{{/unless}}
								             	{{/unless}}
							             	{{/each}}
							            </p>
							        </div>
							        <div class="modal-footer">
							          <a href="/edit/{{id}}">
									    	<button class="btn btn-primary">Edit</button>
									    </a>
									    <a href="/delete/{{id}}">
									    	<button class="btn btn-primary">Delete</button>
									    </a>
							        </div>
							      </div>
							    </div>
							</div>
						{{/each}}
						{{#if awaitingConfirmation.length}}
							{{#if toSchedule.length}}
								<hr>
							{{/if}}
						{{/if}}
						{{#each awaitingConfirmation}}
						    <div class="tr clickable" id="host{{id}}">
						        <div class="d12">	
									<span class="list">
										<span class="btn-group">Your event {{eventName}} at {{eventLocation}} is awaiting confirmation from all guests. <span class="glyphicon glyphicon-pencil"></span></span>
									</span>
						        </div>
						        <div class="d13">
						        	<button type="button" class="btn btn-primary" style="width: 87px;" disabled>Schedule!</button>
						        	
						        </div>
						    </div>
						    {{#unless @last}}<hr>{{/unless}}
						    <div id="modal-dialog{{id}}" class="modal">
							    <div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							        	<a href="/view" data-dismiss="modal" aria-hidden="true" class="close">×</a>
							            <h3>Event Details</h3>
							        </div>
							        <div class="modal-body">
							            <p style="font-size:120%;">{{eventName}} at {{eventLocation}} for {{eventDuration}} hours.</p>
							            <p>
							             	{{#each guests}}
								             	{{#unless @first}}
									             	{{#if this.[1]}}<span style="color: green">✓ </span>{{else}}<span style="color: red">... </span>{{/if}}{{this.[0]}}
									             	{{#unless @last}}<br>{{/unless}}
								             	{{/unless}}
							             	{{/each}}
							            </p>
							        </div>
							        <div class="modal-footer">
							        	<a href="/edit/{{id}}">
									    	<button class="btn btn-primary">Edit</button>
									    </a>
									    <a href="/delete/{{id}}">
									    	<button class="btn btn-primary">Delete</button>
									    </a>
							        </div>
							      </div>
							    </div>
							</div>
						{{/each}}
						{{#unless toSchedule.length}}
							{{#unless awaitingConfirmation.length}}
								<p>You have not created any events yet.</p>
							{{/unless}}
						{{/unless}}
					</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		    	<a data-toggle="collapse" href="#collapseTwo">
			      <h4 class="panel-title">
			          My Invites <span class="alert"> {{#if invites.length}}({{invites.length}}){{/if}} </span>
			      </h4>
		      	</a>
		    </div>
		    {{#if scheduled}}
		    <div id="collapseTwo" class="panel-collapse collapse">
		    {{else}}
		    <div id="collapseTwo" class="panel-collapse collapse in">
		    {{/if}}
		      <div class="panel-body">
		        <div class="table">
            		{{#each invites}}
                		<div class="tr">
                    		<div class="d12"> 
                  				<span class="list">
                    			<span class="btn-group">{{organizer}} invited you to {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
                  				</span>
                    		</div>
                        	<div class="d14">
                          			<input href="#modal-dialog1{{id}}" data-toggle="modal" data-prevtime="{{../prevTime}}" data-recentprevtime="{{../recentPrevTime}}" type="button" class="btn btn-success btn-mini accept" value="✓">
                          			<input href="#modal-dialog2{{id}}" data-toggle="modal" data-prevtime="{{../prevTime}}" data-recentprevtime="{{../recentPrevTime}}" type="button" class="btn btn-danger btn-mini reject" value="✗">
                       		</div>
                		</div>
                		{{#unless @last}}<hr>{{/unless}}
                		<div id="modal-dialog1{{id}}" class="modal">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						             <h3>Confirm Event?</h3>
						        </div>
						        <div class="modal-body">
						             <p>You are about to confirm this event. This means that once all of the invites have been accepted, the organizer will be able to see the availabilities in everyone's calendars and select a time that works for everyone.</p>
						        </div>
						        <div class="modal-footer">
						          <a href="/confirm/{{id}}"  id="btnConfirm" class="btn confirm">OK</a> 
						          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a>
						        </div>
						      </div>
						    </div>
						</div>
						<div id="modal-dialog2{{id}}" class="modal">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						             <h3>Reject Event?</h3>
						        </div>
						        <div class="modal-body">
						             <p>Are you sure you would like to reject the invitation to this event?</p>
						        </div>
						        <div class="modal-footer">
						          <a href="/reject/{{id}}"  id="btnConfirm" class="btn confirm">Yes</a> 
						          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a>
						        </div>
						      </div>
						    </div>
						</div>
            		{{/each}}
            		{{#if pending.length}}
            			{{#if invites.length}}
							<hr>
						{{/if}}
            		{{/if}}
            		{{#each pending}}
                		<div class="tr">
                    		<div class="d12"> 
                  				<span class="list">
                    				<span class="btn-group">{{organizer}} invited you to {{eventName}} at {{eventLocation}} for {{eventDuration}} hours!</span>
                  				</span>
                    		</div>
                        	<div class="d13">
                            	<button type="button" class="btn btn-success" disabled>✓</button>
                       		</div>
                		</div>
                		{{#unless @last}}<hr>{{/unless}}
            		{{/each}}
            		{{#unless invites.length}}
						{{#unless pending.length}}
							<p>You have not been invited to any events.</p>
						{{/unless}}
					{{/unless}}
          		</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		    	<a data-toggle="collapse" href="#collapseThree">
			      <h4 class="panel-title">
			          Past Events
			      </h4>
		      	</a>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse in">
		      <div class="panel-body">
		        <div class="table">
            		{{#each history}}
                		<div class="tr" style="text-align: center">
              				<span class="list">
                				<span class="btn-group">{{eventName}} at {{eventLocation}} for {{eventDuration}} hours.</span>
              				</span>
 	                	</div>
                		{{#unless @last}}<hr>{{/unless}}
            		{{/each}}
					{{#unless history.length}}
						<p>You don't have any past events.</p>
					{{/unless}}
          		</div>
		      </div>
		    </div>
		  </div>
		</div>

	</div>

	<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	    <div class="container pull-right" style="width: 50%; text-align: center">  
	    	<ul class="nav navbar-nav">
			  <li><a href="/create"><span class="glyphicon glyphicon-plus"></span> Create Event</a></li>  
			</ul>
	    </div>
	    <div class="container pull-left" style="width: 50%; text-align: center">  
	    	<ul class="nav navbar-nav">
			  <li class="active"><a href="/view"><span class="glyphicon glyphicon-home"></span> View Events</a></li>  
			</ul>
	    </div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/viewEvents.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48457535-2', 'scheduleus.herokuapp.com');
	  // ga('create', 'UA-48457535-2', { 'cookieDomain': 'none' });
	  ga('send', 'pageview');

	</script>
	<!-- // <script src="/js/introHCI.js"></script> -->
</body>
</html>
